/* Start Global rules */
:root {
	--mainColor: #00c7fc;
	--transparentColor: rgba(15, 116, 143, 70%);
	--bgColor: rgba(15, 166, 143, 6%);
	--mainPadding: 100px 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: #1f2021;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.special-heading h2 {
	text-transform: uppercase;
	width: fit-content;
	letter-spacing: 1.2px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	position: relative;
	margin: 0 auto 50px;
}
.special-heading h2::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 1px;
	background-color: #000;
}
.special-heading h2::after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: #fff;
}
.special-heading p {
	font-size: 13px;
    font-weight: 300;
    text-align: center;
	width: 500px;
	max-width: 100%;
	margin: 0 auto 80px;
	line-height: 2;
	color: #a8a8a8;
}
/* End Global rules */

/* Start Header */
header {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 3;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: 20px;
	min-height: 96px;
}
header .container::after {
	content: "";
	position: absolute;
	width: calc(100% - 30px);
	height: 1px;
	background-color: #636364;
	bottom: 0;
}
header img {
	width: 150px;
}
header nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header nav ul {
	display: flex;
}
@media (max-width: 991px) {
	header nav ul {
		display: none;
	}
	header .container nav .menu-bar:hover + ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		text-align: center;
		background-color: rgb(0 0 0 / 82%);
		height: calc(100vh - 96px);
	}
	header .container nav ul a {
		padding-left: 30px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
header nav ul li a {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	transition-duration: .3s;
	transition-property: color;
	padding: 30px 25px;
	position: relative;
	z-index: 1;
}
header nav ul li .active,
header nav ul li a:hover {
	color: var(--mainColor);
	border-bottom: 1px solid var(--mainColor);
}
header .search {
	width: 30px;
    height: 30px;
    border-left: 1px solid white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 40px;
	padding-left: 50px;
}
header .search i {
	cursor: pointer;
	transition: .3s;
	color: #fff;
	font-size: 20px;
}
header .search i:hover {
	color: var(--mainColor);
}
header .container nav .menu-bar {
	color: #fff;
	font-size: 20px;
	transition: .3s;
	cursor: pointer;
}
header .container nav .menu-bar:hover {
	color: var(--mainColor);
}
@media (min-width: 992px) {
	header .container nav .menu-bar {
		display: none;
	}
}
/* End Header */

/* Start Home */
.home {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
}
.home .main-text {
	background-color: var(--transparentColor);
	color: #fff;
	padding: 80px;
	width: 60%;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.home .main-text .content {
	max-width: 500px;
}
@media (max-width: 767px) {
	.home .main-text {
		width: 100%;
		padding: 30px 60px;
		text-align: center;
	}
	.home .main-text .content {
		max-width: 100%;
	}
}
.home .main-text .content h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 20px;
}
.home .main-text .content p {
	font-size: 13px;
	line-height: 2;
	letter-spacing: 1.2px;
}
.home i {
	color: #fff;
	font-size: 20px;
	position: absolute;
	cursor: pointer;
}
.home .arrow-left {
	left: 20px;
}
.home .arrow-right {
	right: 20px;
}
/* End Home */

/* Start Services */
.services {
	background-color: #fff;
	padding: var(--mainPadding);
}
.services .services-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}
.services .services-content .content-col {
	display: flex;
	justify-content: space-between;
}
.services .services-content .content-col .text {
	width: 80%;
}
.services .services-content .content-col .text h3 {
	color: var(--mainColor);
	font-size: 20px;
	padding-bottom: 15px;
	font-weight: 400;
}
.services .services-content .content-col .text p {
	line-height: 1.6;
	font-size: 13px;
	color: #a8a8a8;
}
@media (max-width: 767px) {
	.services .services-content {
		grid-gap: 50px;
		grid-template-columns: 1fr;
		padding: 20px;
	}
	.services .services-content .content-col {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.services .services-content .content-col .text h3 {
		padding-top: 15px;
	}
}
/* End Services */

/* Start Portfolio */
/* .portfolio {
	
} */
/* End Portfolio */

/* Start About */
/* .about {
	
} */
/* End About */

/* Start Pricing */
/* .pricing {

} */
/* End Pricing */

/* Start Contact */
/* .contact {

} */
/* End Contact */

/* Start Footer */
/* footer {

} */
/* End Footer */